%h1 My Posts
- if policy(resource_class).new?
  = link_to 'New Post', new_post_path
%table
  %tr
    %th Title
    %th Options
  - resources.each do |resource|
    %tr
      %td= resource.title
      %td
        - if policy(resource).edit?
          = link_to 'Edit', [:edit, resource]
        - if policy(resource).destroy?
          = link_to 'Destroy', resource, method: :delete
